Repository oBusk/read-bigint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,js,json}": ["eslint --fix"],
    "**/*.{md,yml,yaml}": ["prettier --write"]
}

chore: Remove branch extraction from bundlewatch github actions
  .github/workflows/nodejs.yml
Due: prettier --write

chore(dev-deps): Bump @typesscript-eslint/*
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): Bump versions
  package-lock.json
  package.json
Due: eslint --fix

chore: Update supported node versions
  .github/workflows/nodejs.yml
  package.json
Due: eslint --fix, prettier --write

test: Improve testing by using @ts-expect-error
  .eslintrc.json
  .vscode/settings.json
  src/read-bigint-64-be.spec.ts
  src/read-bigint-64-le.spec.ts
  src/read-biguint-64-be.spec.ts
  src/read-biguint-64-le.spec.ts
Due: eslint --fix

chore: Typecheck files when checking in
  .lintstagedrc.json
Due: eslint --fix

0.1.2-0
  package-lock.json
  package.json
Due: eslint --fix

0.1.2
  package-lock.json
  package.json
Due: eslint --fix

config(eslint): Small correction and not importing rules twice
  .eslintrc.json
Due: eslint --fix

chore(deps): Update dependencies
  package-lock.json
  package.json
Due: eslint --fix

config(eslint): Config to allow @ts-expect-error in tests.
  .eslintrc.json
Due: eslint --fix

Update the engines field of package.json.
  package.json
Due: eslint --fix

chore(dependabot): Remove dependabot.
  .dependabot/config.yml
  README.md
Due: prettier --write

chore(actions): Update actions/cache
  .github/workflows/nodejs.yml
Due: prettier --write

chore: Update github actions and versions
  .github/workflows/nodejs.yml
  README.md
  package.json
Due: eslint --fix, prettier --write

chore: Update supported node versions to match google cloud
  .github/workflows/nodejs.yml
  package.json
Due: eslint --fix, prettier --write

0.1.3
  package-lock.json
  package.json
Due: eslint --fix

ci: Rename build and test task
  .github/workflows/nodejs.yml
Due: prettier --write

ci: Rename lint step to match others
  .github/workflows/nodejs.yml
Due: prettier --write

cI: Reorder jobs
  .github/workflows/nodejs.yml
Due: prettier --write

0.1.4
  package-lock.json
  package.json
Due: eslint --fix

ci(codeql): Enable codeql analysis
  .github/workflows/codeql-analysis.yml
Due: prettier --write

style(codql): Make file prettier
  .github/workflows/codeql-analysis.yml
Due: prettier --write

ci(codeql): Enable codeql analysis (#136)
  .github/workflows/codeql-analysis.yml
Due: prettier --write

ci: No need to run tests with coverage on all envs
  .github/workflows/nodejs.yml
Due: prettier --write

ci(dependabot): Add dependabot config.
  .github/dependabot.yml
Due: prettier --write

ci(dependabot): Add dependabot config. (#137)
  .github/dependabot.yml
Due: prettier --write

ci(dependabot): Remove unecessary quotes
  .github/dependabot.yml
Due: prettier --write

docs(readme): Add/update badges
  README.md
Due: prettier --write

chore: Node 15 and NPM 7
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(ci): Use setup-node v2 without specific version
  .github/workflows/nodejs.yml
Due: prettier --write
