Repository oBusk/read-bigint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(husky): Stop using "git add" since husky does it for us
  .lintstagedrc.json
Due: eslint --fix

chore: fix jest config
  .jestrc.json
  jest.config.js
Due: eslint --fix

refactor: Move error messages into separate file
  src/error-messages.ts
  src/read-bigint-64-be.ts
  src/read-bigint-64-le.ts
  src/read-biguint-64-be.ts
  src/read-biguint-64-le.ts
Due: eslint --fix

refactor: extrapulate common code into common method
  package.json
  src/common.ts
  src/error-messages.ts
  src/read-bigint-64-be.ts
  src/read-bigint-64-le.ts
  src/read-biguint-64-be.ts
  src/read-biguint-64-le.ts
Due: eslint --fix

chore: Update bundlewatch config
  package.json
Due: eslint --fix

chore(package): configure engine for what versions of node package
  .github/workflows/nodejs.yml
  package.json
Due: eslint --fix, prettier --write

chore: Add version script to make publishing work
  package.json
Due: eslint --fix

chore(deps-dev): Bump @typescript-eslint versions
  package-lock.json
  package.json
Due: eslint --fix

docs: Update readme after flattening monorepo
  README.md
  packages/read-bigint/README.md
Due: prettier --write

chore(package): Add scripts for fixing lint and pretty issues
  package.json
Due: eslint --fix

0.1.0
  package-lock.json
  package.json
Due: eslint --fix

docs: Add badges for npm version and bundlesize
  README.md
Due: prettier --write

chore: remove "files" from package.json and add "type"
  .npmignore
  package.json
Due: eslint --fix

chore(package): Remove "prepare" script to stop building on npm install
  .github/workflows/nodejs.yml
  package.json
Due: eslint --fix, prettier --write

chore: add rimraf as dep as they are needed in scripts
  package-lock.json
  package.json
Due: eslint --fix

chore: improve linting
  .eslintrc.json
  .lintstagedrc.json
  package.json
Due: eslint --fix

docs: Document supported node versions a bit better
  README.md
Due: prettier --write

style: Add trailing commas
  .prettierrc.json
  README.md
  jest.config.js
  src/common.ts
  src/read-bigint-64-be.spec.ts
  src/read-bigint-64-be.ts
  src/read-bigint-64-le.spec.ts
  src/read-bigint-64-le.ts
  src/read-biguint-64-be.spec.ts
  src/read-biguint-64-le.spec.ts
Due: eslint --fix, prettier --write

chore(eslint): update linting configuration! 😎
  .eslintrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
  src/index.spec.ts
Due: eslint --fix

style: Allow explicit any in tests
  .eslintrc.json
  src/read-bigint-64-be.spec.ts
  src/read-bigint-64-le.spec.ts
  src/read-biguint-64-be.spec.ts
  src/read-biguint-64-le.spec.ts
Due: eslint --fix

ci: Stop setting CI branch
  .github/workflows/nodejs.yml
Due: prettier --write

ci: try to see if there is any branch reference in env
  .github/workflows/nodejs.yml
  package.json
Due: eslint --fix, prettier --write

ci: fix env logging
  package.json
Due: eslint --fix

ci: actually fix bundlewatch branchname
  .github/workflows/nodejs.yml
  package.json
Due: eslint --fix, prettier --write

ci: Update name of bundlewatch step and build job
  .github/workflows/nodejs.yml
Due: prettier --write

ci: clean up CI with naming steps somewhat
  .github/workflows/nodejs.yml
Due: prettier --write

ci: cleanup yaml a bit by setting CI: true in all jobs instead of in steps
  .github/workflows/nodejs.yml
Due: prettier --write

ci: Improve caching of npm
  .github/workflows/nodejs.yml
Due: prettier --write

ci: make naming of build job the same as test job
  .github/workflows/nodejs.yml
Due: prettier --write

Improve Github Actions (#7)
  .github/workflows/nodejs.yml
Due: prettier --write

style: Stop having separate indentation for yml files
  .dependabot/config.yml
  .editorconfig
  .github/workflows/nodejs.yml
Due: prettier --write

chore(deps): Update sub-dependencies
  package-lock.json
Due: eslint --fix

docs(readme): Fix title
  README.md
Due: prettier --write

chore(vscode): Configure vscode to not lint ignored files
  .vscode/settings.json
Due: eslint --fix

0.1.1
  package-lock.json
  package.json
Due: eslint --fix

ci: Improve caching name and checkout step name
  .github/workflows/nodejs.yml
Due: prettier --write

chore(config): Update configs
  .editorconfig
  .gitattributes
Due: none

chore(dependabot): Let dependabot update package.json
  .dependabot/config.yml
Due: prettier --write

chore(dev-deps): Update development dependencies
  package-lock.json
  package.json
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,json}
  prettier --write: any of: *.{md,yml,yaml}
