Repository oBusk/read-bigint: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint --fix, prettier --write

Try to change ci
  .github/workflows/nodejs.yml
Due: prettier --write

Archive to make artifacts work
  .github/workflows/nodejs.yml
Due: prettier --write

Archive everything? is this stupid?
  .github/workflows/nodejs.yml
Due: prettier --write

Build and stuff
  .github/workflows/nodejs.yml
Due: prettier --write

Fix oopsie
  .github/workflows/nodejs.yml
Due: prettier --write

Fix packing not working
  .github/workflows/nodejs.yml
Due: prettier --write

Fix packing
  .github/workflows/nodejs.yml
Due: prettier --write

Exclude git
  .github/workflows/nodejs.yml
Due: prettier --write

Restructure artifacting
  .github/workflows/nodejs.yml
Due: prettier --write

Tests
  .github/workflows/nodejs.yml
Due: prettier --write

Try with bundled npm version
  .github/workflows/nodejs.yml
Due: prettier --write

Run tests on built files
  .github/workflows/nodejs.yml
Due: prettier --write

Fix command
  .github/workflows/nodejs.yml
Due: prettier --write

Update node versions
  .github/workflows/nodejs.yml
  package.json
Due: eslint --fix, prettier --write

Fix node versions
  .github/workflows/nodejs.yml
  package.json
Due: eslint --fix, prettier --write

Don't fail all matrix if one fails
  .github/workflows/nodejs.yml
Due: prettier --write

chore: Fix lintstagedrc
  .lintstagedrc.json
Due: eslint --fix

Ci revamp (#182)
  .github/workflows/nodejs.yml
  jest.config.js
  package.json
Due: eslint --fix, prettier --write

Use less strict version
  .github/workflows/nodejs.yml
Due: prettier --write

Remove codeql
  .github/workflows/codeql-analysis.yml
Due: prettier --write

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

Lint the codeql file
  .github/workflows/codeql-analysis.yml
Due: prettier --write

Try to delete artifacts when we're done
  .github/workflows/nodejs.yml
Due: prettier --write

Add retention period
  .github/workflows/nodejs.yml
Due: prettier --write

chore(deps): Bump versions
  .github/workflows/codeql-analysis.yml
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

browser
  browser/index.js
  browser/package.json
  config/babel.config.js
  config/rollup.browser-config.js
  package-lock.json
  package.json
Due: eslint --fix

fix webpack 5 build error
  .gitignore
  browser/index.js
  browser/package.json
  package.json
  src/index.ts
  src/read-bigint-64-be.ts
  src/read-bigint-64-le.ts
  src/read-biguint-64-be.ts
  src/read-biguint-64-le.ts
Due: eslint --fix

fix
  browser/index.js
  package.json
  tsconfig.browser.json
Due: eslint --fix

Path conditions:
  tsc --noEmit: any of: **/*.{ts}
  eslint --fix: any of: **/*.{ts,js,json}
  prettier --write: any of: **/*.{md,yml,yaml}
