Repository oBusk/read-bigint: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint --fix, prettier --write

chore(deps): Bump versions
  package-lock.json
  package.json
Due: eslint --fix

ci: update codeql
  .github/workflows/codeql-analysis.yml
Due: prettier --write

ci: Use volta instead of setup-node
  .github/workflows/nodejs.yml
Due: prettier --write

ci: Fix volta tasks
  .github/workflows/nodejs.yml
Due: prettier --write

Use clearer name for volta versions
  .github/workflows/nodejs.yml
Due: prettier --write

ci: Use volta instead of setup-node (#150)
  .github/workflows/nodejs.yml
Due: prettier --write

ci: Update node-version matrix
  .github/workflows/nodejs.yml
Due: prettier --write

chore: Add npm diff script to check if build has changed
  package.json
Due: eslint --fix

0.1.5
  package-lock.json
  package.json
Due: eslint --fix

chore(husky-6): Update husky to v6
  package-lock.json
  package.json
Due: eslint --fix

chore(husky): husky-init
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: eslint --fix

chore(husky): Move scripts (using husky-4-to-6)
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: eslint --fix

chore(husky): Add tests to husky hook because why not
  .husky/pre-commit
Due: none

chore: Cleanup scripts
  package.json
Due: eslint --fix

chore: Update vscode config to be more robust
  .vscode/settings.json
Due: eslint --fix

ci: tests with codecov step
  .github/workflows/nodejs.yml
Due: prettier --write

ci: fix bundlewatch action config
  .github/workflows/nodejs.yml
Due: prettier --write

ci: use bundlewatch action
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

ci: remove stupid v from version
  .github/workflows/nodejs.yml
Due: prettier --write

ci: Track main branch
  package.json
Due: eslint --fix

ci: Use npx bundlewatch instead of action
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

ci: Use master version of bundlewatch action
  .github/workflows/nodejs.yml
Due: prettier --write

ci: Use npx bundlewatch instead of action (#154)
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: Use simple-git-hooks instead of husky
  .huskyrc.json
  package-lock.json
  package.json
Due: eslint --fix

0.1.6
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): Bump versions and lint-fix content
  README.md
  package-lock.json
  package.json
  src/read-bigint-64-be.spec.ts
  src/read-bigint-64-le.spec.ts
  src/read-biguint-64-be.spec.ts
  src/read-biguint-64-le.spec.ts
Due: tsc --noEmit, eslint --fix, prettier --write

chore(dev-deps): Bump versions
  package-lock.json
  package.json
Due: eslint --fix

0.1.7
  package-lock.json
  package.json
Due: eslint --fix

chore(style): Lint tests
  src/index.spec.ts
  src/read-bigint-64-be.spec.ts
  src/read-bigint-64-le.spec.ts
  src/read-biguint-64-be.spec.ts
  src/read-biguint-64-le.spec.ts
Due: tsc --noEmit, eslint --fix

chore(ci): Update nodejs
  .github/workflows/nodejs.yml
Due: prettier --write

chore: Fix lintstagedrc
  .lintstagedrc.json
Due: eslint --fix

chore: update testing to work on dist
  jest.config.js
  package.json
Due: tsc --noEmit, eslint --fix

Path conditions:
  tsc --noEmit: any of: **/*.{ts,js}
  eslint --fix: any of: **/*.{ts,js,json}
  prettier --write: any of: **/*.{md,yml,yaml}
